@using CodeMooc.Web.Model
@model DashboardDonationsViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Donazioni";
}

<div class="container">
    <h1 class="text-center">Donazioni</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        <p>◀&nbsp;@Html.ActionLink("Torna al pannello di controllo", "Index")</p>

        <p>Qui di seguito sono elencate le donazioni che sono state registrate a tuo nome tramite la <a href="https://www.produzionidalbasso.com/project/codemooc-net-2021/">campagna di crowdfunding</a>.</p>

        @if (Model.Donations.Count == 0) {
            <p><i>Nessuna donazione registrata a tuo nome.</i></p>
        }
        else {
            <ul>
                @foreach (var donation in Model.Donations) {
                    <li>
                        Donazione da parte di @donation.Name @donation.Surname (@donation.Email): <b>@donation.Amount&nbsp;€</b> per l’anno <b>@donation.Year.Year</b>.
                    </li>
                }
            </ul>
        }

        <p>
            <i>Nota:</i> sono richieste fino a 24&nbsp;ore perché le donazioni vengano registrate dal servizio.
        </p>

    </div>

</div>
